body {
  /* margin: 0; */
  /* padding: 0; */
  background: #369;
}

.zone {
  border: 1px solid white;
  cursor: pointer;
}

.off {
  display: none;
}

#buttons {
  clear: both;
  padding-top: 16px;
  padding-bottom: 16px;
}

button {
  cursor: pointer;
}

textarea {
   width: 600px;
   height: 400px;
}
